.i {
    display:flex;

    height :100vh;
 
}

.i-left{
    flex :1;
    display:flex ;
    align-items: centre ; 
     justify-content: centre;
    
}

.i-right{
    flex :1;
    position: relative;
}

.i-left-wrapper{

    padding: 50px;
    height: 50%;
    
    display:flex ;
    flex-direction: column;
    
}

.i-intro
{
    font-size:  30px;
    font-weight: 300 ;
    margin: 60px 00px;
}

.i-Iam
{
    font-size:  30px;
    font-weight: 300 ;
    margin: 10px 00px;
}
.i-desc
{
    font-size:  20px;
    font-weight: 50 ;
    margin: 20px 00px;
}
.i-name {
    font-size: 60px;

}
 .i-title{
     height:50px;
     overflow: hidden;
     
 }


 .i-title-wrapper{
    
    height:100%;
    animation: move 10s ease-in-out infinite alternate; 
 }

 @keyframes move {
    
    25%{
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(-100px);
    }
    75%

    {
        transform: translateY(-150px)
    }
    100%
    {
        transform: translateY(-200px);
    }
     
 }

 .i-title-item {
     height:50px;
     font-size: 30px;
     font-weight: bold;
     color: rgb(105, 255, 97);
    
     display: flex;
     align-items:center;
     margin: 00px 60px; 
 }

 .i-cursor{
   width: 100px;
   height: 100px;
   position: absolute;
   bottom:10px;

 }
 .i-img{
     width:82%;
     height:82%;
     object-fit: cover;
     position: absolute;
     bottom:00px;
     margin: 00px 125px;
     
 }

 

 .i-bg{
    -webkit-clip-path: circle(65.9% at 83% 63%);
clip-path: circle(65.9% at 83% 63%);
    background-color: rgb(105, 255, 97);
    width: 100%;
    height :100%;
    
    position :absolute;
    top :0 ;
    left: 2;
    
 }

 .i-b{
    -webkit-clip-path: circle(65.9% at 83% 63%);
clip-path: circle(65.9% at 83% 63%);
    background-color: rgb(249, 255, 78);
    width: 10%;
    height :10%;
    
    position :absolute;
    top :0 ;
    left: 0;
    
 }

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
  
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .i-b
  {
    padding: 10px;
    align-items: right;
    justify-content: right;
  }
  .i-img{
    object-fit: cover;
    position: absolute;
    bottom:00px;
    margin: 00px 70px
  }
  
  .i-right
  {
    
    align-items: center;
    justify-content: center;
    
  }

  .i-Iam{
    display: none;
    
  }
  .i-title
  {
      display: none;
  }
  
}